<div class="row">
  <div class="col-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Top Authors</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul *ngFor="let author of authors">
          <li>
            {{author.lastName}}
            <button routerLink="/author_detail/{{author.id}}">Details</button>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Top Books</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul *ngFor="let book of books">
              <li>
                {{book.title}}
                <button routerLink="/book_detail/{{book.id}}">Details</button>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
     
        <!-- <h3>Top Books</h3>
      <div class="grid grid-pad">
        <a *ngFor="let book of books" class="col-1-4">
          <div class="module hero">
            <h4>{{book.title}}</h4>
          </div>
        </a>
      </div> -->
      
    <!-- <app-books></app-books> -->
  </div>
</div>

<app-author-search></app-author-search>
<app-book-search></app-book-search>