<div class="row mb-2">
  <div class="col-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Top Authors</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul *ngFor="let author of authors">
          <li>
            <a routerLink="/author_detail/{{author.id}}">
              {{author.lastName}}
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Top Books</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul *ngFor="let book of books">
          <li>
            <a routerLink="/book_detail/{{book.id}}">
              {{book.title}}
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>