<div *ngIf="book">
  <div class="row mb-2">
    <div class="col-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{book.title | uppercase}}</mat-card-title>
          <mat-card-subtitle>Details:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              Title: {{book.title}};
            </li>
            <li>
              Genre: {{book.genre}};
            </li>
            <li>
              Pages: {{book.pages}};
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="col-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{book.title | uppercase}}</mat-card-title>
          <mat-card-subtitle>Edit:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <label>Title:
                <input [(ngModel)]="book.title" placeholder="title">
              </label>
            </li>
            <li>
              <label>Genre:
                <input [(ngModel)]="book.genre" placeholder="title">
              </label>
            </li>
            <li>
              <label>Pages:
                <input [(ngModel)]="book.pages" placeholder="title">
              </label>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="save()">save</button>
          <button (click)="goBack()">go back</button>
          <button class="delete" title="delete book" (click)="delete(book)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>