<div *ngIf="author">
  <div class="row mb-2">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{author.lastName | uppercase}}</mat-card-title>
          <mat-card-subtitle>Details:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              First Name: {{author.firstName}};
            </li>
            <li>
              Middle Name: {{author.middleName}};
            </li>
            <li>
              Last Name: {{author.lastName}};
            </li>
            <li>
              Date of birth: {{author.dob}};
            </li>
            <li> 
              <a routerLink="/books">
                Books:
              </a>
              <ul *ngFor="let book of books">
                <li>
                  <a routerLink="/book_detail/{{book.id}}">
                    {{book.title}};
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{author.lastName | uppercase}}</mat-card-title>
          <mat-card-subtitle>Edit:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <label>First Name:
                <input [(ngModel)]="author.firstName" placeholder="First Name">
              </label>
            </li>
            <li>
              <label>Middle Name:
                <input [(ngModel)]="author.middleName" placeholder="Middle Name">
              </label>
            </li>
            <li>
              <label>Last Name:
                <input [(ngModel)]="author.lastName" placeholder="Last Name">
              </label>
            </li>
            <li>
              <label>Date of birth:
                <input [(ngModel)]="author.dob" placeholder="Date of birth">
              </label>
            </li>
            <li>
              <label>Book:
                <input [(ngModel)]="author.book.title" placeholder="Book">
              </label>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="save()">save</button>
          <button (click)="goBack()">go back</button>
          <button title="delete author" (click)="delete()">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>