<div *ngIf="author">
  <div class="row mb-2">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Details:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">First Name: {{author.firstName}}</mat-list-item>
            <mat-list-item role="listitem">Middle Name: {{author.middleName}}</mat-list-item>
            <mat-list-item role="listitem">Last Name: {{author.lastName}}</mat-list-item>
            <mat-list-item role="listitem">Date of birth: {{author.dob | date}}</mat-list-item>
          </mat-list>
          <mat-nav-list>
            <mat-list-item>
              <a matLine routerLink="/books">Books:</a>
            </mat-list-item>
            <mat-list-item *ngFor="let book of author.books">
              <a matLine routerLink="/book_detail/{{book.id}}">{{book.title}}</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Edit:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="example-container">
            <mat-form-field>
              <input [(ngModel)]="author.firstName" matInput placeholder="First name" [formControl]="firstName"
                required>
              <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="author.middleName" matInput placeholder="Middle name" [formControl]="middleName"
                required>
              <mat-error *ngIf="middleName.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="author.lastName" matInput placeholder="Last name" [formControl]="lastName" required>
              <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="author.dob" matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="dob.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select [(ngModel)]="author.books" placeholder="Select books" [formControl]="booksList" multiple>
                <mat-option *ngFor="let book of books" [value]="book">{{book.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-row">
            <button (click)="goBack()" mat-flat-button color="primary">
              <mat-icon aria-label="Back">arrow_back</mat-icon>
            </button>
            <button (click)="save()" mat-flat-button color="primary">
              <mat-icon aria-label="Save">save</mat-icon>
            </button>
            <button (click)="delete()" mat-flat-button color="primary">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>