<div class="row mb-2">
  <div class="col">
    <app-author-search></app-author-search>
  </div>
</div>

<div class="row mb-2">
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>My Authors</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="authors">
          <li *ngFor="let author of authors">
            {{author.lastName}}
            <button title="edit author" routerLink="/author_detail/{{author.id}}">Edit</button>
            <!-- <button title="delete author" (click)="delete(author)">Delete</button> -->
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Add Author</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <label>Last name:
              <input #authorLastName />
            </label>
          </li>
        </ul>
      </mat-card-content>
      <button (click)="add(authorLastName.value); authorLastName.value=''">
        add
      </button>
    </mat-card>
  </div>
</div>