<div class="row mb-2">
  <div class="col">
    <app-author-search></app-author-search>
  </div>
</div>

<div class="row mb-2">
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>My Authors</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="authors">
          <li *ngFor="let author of authors">
            <a routerLink="/author_detail/{{author.id}}">
              {{author.lastName}}
            </a>
            <!-- <button title="edit author" routerLink="/author_detail/{{author.id}}">Edit</button> -->
            <!-- <button title="delete author" (click)="delete(author)">Delete</button> -->
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Author</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="example-container">
          <mat-form-field>
            <input #authorLastName matInput placeholder="Enter last name" [formControl]="lastName" required>
            <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="add(authorLastName.value); authorLastName.value=''" mat-flat-button color="primary"> Add </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>