<div class="row mb-2">
  <div class="col">
    <app-book-search></app-book-search>
  </div>
</div>
<div class="row mb-2">
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>My Books</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let book of books">
            <a routerLink="/book_detail/{{book.id}}">
              {{book.title}}
            </a>
            <!-- <button class="delete" title="delete book" (click)="delete(book)">Delete</button> -->
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Book</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="booksComponent--newBook__input">
          <mat-form-field>
            <input #bookTitleInput matInput placeholder="Enter title" [formControl]="bookTitle" required>
            <mat-error *ngIf="bookTitle.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="add(bookTitleInput.value); bookTitleInput.value=''" mat-flat-button color="primary"> Add </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>