<div class="row mb-2">
  <div class="col">
    <app-book-search></app-book-search>
  </div>
</div>
<div class="row mb-2">
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>My Books</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let book of books">
            <a matLine routerLink="/book_detail/{{book.id}}">{{ book.title }}</a>
            <button mat-icon-button>
              <mat-icon (click)="delete(book)" aria-label="Delete book">delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Book</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="newBook__input">
          <mat-form-field>
            <input #bookTitleInput matInput placeholder="Enter title" [formControl]="bookTitle" required>
            <mat-error *ngIf="bookTitle.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input #bookAuthorInput matInput placeholder="Enter author name" [formControl]="bookAuthor" required>
            <mat-error *ngIf="bookAuthor.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input #bookPagesInput matInput placeholder="Enter number of pages" [formControl]="bookPages" required>
            <mat-error *ngIf="bookPages.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select #bookGanreSelect placeholder="Select genre" [(ngModel)]="selectedGenre" name="genre"
              [formControl]="genreControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let genre of genres" [value]="genre">
                {{genre.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="genreControl.hasError('required')">Please choose a genre</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="btn--save" (click)="add(bookTitleInput.value, bookGanreSelect.value, bookAuthorInput.value, bookPagesInput.value); 
        bookTitleInput.value=''; bookGanreSelect.value=''; bookAuthorInput.value=''; bookPagesInput.value='';">
          <mat-icon aria-label="Add">save</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>