<div class="row mb-2">
  <div class="col">
    <app-book-search></app-book-search>
  </div>
</div>
<div class="row mb-2">
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>My Books</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let book of books">
            <a routerLink="/book_detail/{{book.id}}">
              {{book.title}}
            </a>
            <!-- <button class="delete" title="delete book" (click)="delete(book)">Delete</button> -->
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Book</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="newBook__input">
          <mat-form-field>
            <input #bookTitleInput matInput placeholder="Enter title" [formControl]="bookTitle" required>
            <mat-error *ngIf="bookTitle.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-select #bookGanreSelect placeholder="Select genre" [(ngModel)]="selectedGenre" name="genre" [formControl]="genreControl" required>
                  <mat-option>--</mat-option>
                <mat-option *ngFor="let genre of genres" [value]="genre.name">
                  {{genre.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="genreControl.hasError('required')">Please choose a genre</mat-error>
            </mat-form-field>
            <!-- <p> Selected ganre: {{selectedGenre}} </p> -->
            <!-- <mat-form-field>
                <mat-select placeholder="Favorite animal" [formControl]="animalControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
                <mat-hint>{{animalControl.value?.sound}}</mat-hint>
              </mat-form-field> -->
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="add(bookTitleInput.value, bookGanreSelect.value); bookTitleInput.value=''; bookGanreSelect.value=''" mat-flat-button color="primary"> Add
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>