<div id="search-component">
  <mat-card>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input #searchBox id="search-box" (input)="search(searchBox.value)" type="text" placeholder="Search"
            aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let book of books$ | async" [value]="book" routerLink="/book_detail/{{book.id}}">
              {{book.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>