<mat-toolbar class="mb-2" color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/dashboard">
      <mat-icon aria-label="Dashboard" class="example-icon">dashboard</mat-icon>
    </button>
    <button mat-icon-button routerLink="/authors">
      <mat-icon aria-label="Authors" class="example-icon">people</mat-icon>
    </button>
    <button mat-icon-button routerLink="/books">
      <mat-icon aria-label="Books" class="example-icon">collections_bookmark</mat-icon>
    </button>
    <button mat-icon-button routerLink="/genres">
      <mat-icon aria-label="Genres" class="example-icon">collections</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>

<!-- <app-authors></app-authors> -->